<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<h1> Front end Demo by DL Team </h1>
<div ng-app="handwrite" ng-controller="formCtrl">
  <form novalidate>
    Text:<br>
    <input type="text" ng-model="string.text" ng-init="string.text='test'"><br>
    Bias:<br>
    <input type="number" ng-model="string.bias" ng-init="string.bias=3"><br>
    Style:<br>
    <input type="number" ng-model="string.style" ng-init="string.style=-1">
    <br><br>
    <button ng-click="update()">Go</button>
  </form>
  <img ng-src="{{imgsrc}}"><br>
  <img ng-src="{{gif}}">

</div>

<script>
var app = angular.module('handwrite', []);

app.controller('formCtrl', function($scope, $http, $sce) {
    $scope.master = {text:"", bias:"", style:""};


    $scope.update = function() {
    	console.log($scope.string)
   		 var stuff = JSON.stringify({'text': $scope.string.text, 'bias': $scope.string.bias, 'style': $scope.string.style})
    	$http({
		  method: 'POST',
		  url: 'http://localhost:3000/handwritingDL',
		  headers: {'Content-Type': "application/json"},
		  data: stuff
			}).then(function successCallback(response) {
				console.log("Success")
				console.log(response.data)
				$scope.imgsrc = 'data:image/png;base64,'+response.data
				$scope.gif = 'dancing.gif'
		    // this callback will be called asynchronously
		    // when the response is available
		  }, function errorCallback(response,header) {
		  	console.log(response)
		  	console.log(stuff)
		  	console.log(header)
		    // called asynchronously if an error occurs
		    // or server returns response with an error status.
		  });
    };
    // $scope.update();
});

</script>

</body>
</html>
